body {
  /* background-image: url(https://assets.entrepreneur.com/content/3x2/2000/1413404531-how-not-waste-time.jpg?width=1100&crop=2:1); */
  background-image: url(https://c0.wallpaperflare.com/preview/892/549/236/time-clock-alarm-clock-pastel-colors.jpg);
  background-repeat: no-repeat;
  background-position: top;
}
.timer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.field {
  text-align: center;
  min-width: 60px;
  margin-top: 5%;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 15px;
}
.value {
  font-family: "Courier New", Courier, monospace;
  font-size: 55px;
  font-weight: 600;
}
.label {
  font-family: "Courier New", Courier, monospace;
  font-size: 28px;
  font-weight: 700;
  display: block;
}
